/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 11px;
  width: 12px;
  border-radius: 12px;
  background: #660708;
  cursor: pointer;
  margin-top: -14px;
  /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  height: 11px;
  width: 12px;
  border-radius: 12px;
  background: #660708;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  height: 11px;
  width: 12px;
  border-radius: 12px;
  background: #660708;
  cursor: pointer;
}